## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = {'國家': ["TAIWAN","JAPAN","THAILAND","KOREA"],
        '人口': np.random.randint(1000,size=4)}
data_FM = pd.DataFrame(data)

In [3]:
data_FM

         國家   人口
0    TAIWAN  459
1     JAPAN  684
2  THAILAND  896
3     KOREA  509

In [4]:
country_max = data_FM["國家"][data_FM["人口"].idxmax()]
country_max_number = data_FM["人口"].max()
print("人口最多的國家: %s" %country_max)
print("總共有 %d 人" %country_max_number)

人口最多的國家: THAILAND
總共有 896 人